[submodule "Lynton/vendor/spdlog"]
	path = Lynton/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lynton/vendor/GLFW"]
	path = Lynton/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
